/* Estilos para cada una de las box */
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-width: 1px;
    border-style: solid;
    color: white;
  }

  .colorBox {
    border: 1px solid #000;
    padding: 20px;
    text-align: center;
    background-color: transparent;
  }
  
  .matched {
    border-color: inherit;
    color: inherit;
  }

.red { border-color: red; color: red}
.green { border-color: green; color: green}
.pink { border-color: pink; color: pink}
.yellow { border-color: yellow; color: yellow}
.purple { border-color: purple; color: purple}
.white { border-color: white;color: white }
.blue { border-color: blue;color: blue }
.aqua { border-color: aqua;color: aqua }
.olive { border-color: olive;color: olive }
 